<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OceanFixedPointObservation copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OceanFixedPointObservation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF7BA9C61C9A2F1E0007A7CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7BA9DF1C9A2F1E0007A7CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD8FCCA1DB75C4500D1FB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
